body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui;
    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23555555' fill-opacity='0.06'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");}

.content{
    background-color: #d53b47;
    width: 400px;
    height: 100%;
    text-align: center;
    padding: 1px 20px 20px 20px;
    border-radius: 10px;
}

#namePokemon::first-letter{
    text-transform: uppercase;
}

#namePokemon{
    color: #2b292c;
}

input{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
    outline: none;
}

.pantalla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    background-color: #f1efef;
    border-radius: 5px;
}
#typePokemon::first-letter{
    text-transform: uppercase;
}

.ability{
    display: block;
    text-align: left;
}

li{
    list-style-type: none;
}

#abilityList{
    padding: 0;
}

#abilityList li::first-letter{
    text-transform: uppercase;
}

.abilities{
    top: 0;
    text-align: left;
}

.typesPk{
    display: block;
    text-align: left;
}

#typePokemon{
    padding: 0;
}

.type{
    margin-top: auto;
}

.stats{
    display: grid;
    grid-column: 1 / span 3;
    text-align: left;
}

#stats{
    padding: 0;
}

#stats li{
    display: grid;
    grid-template-columns: 3fr 5fr;
    padding: 5px;
}

.myProgress {
    width: 100%;
    background-color: #ddd;
}
  
.myBar {
    width: 45%;
    height: 20px;
    background-color: #1c1b44;
}

#hp{
    background-color: red;
}

#atack{
    background-color: blue;
}

#defense{
    background-color: green;
}

#specialA{
    background-color: yellow;
}

#specialD{
    background-color: violet;
}

#speed{
    background-color: teal;
}